body{
    background-color: rgb(16, 16, 16);
    color: rgb(222, 0, 44);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-size: 25px;
}
h1{
    font-size: 60px;
    text-align: center;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 20px;
    text-align: center;
}

img{
    display: block;
    margin-left: 450px;
    margin-right: auto;
    margin-bottom: 1px;
    width: 10%;
    position:absolute; 
}
.albums{
    margin-left: 100px;
    color: whitesmoke;

}
.headerone {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border: 2px red solid;
    border-radius: 50px;

    color: whitesmoke;
}
.headertwo{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border: 5px red;
    border-radius: 50px;
    background-color: whitesmoke;
    color: black
}
